* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.center {
    padding: 0 calc(50% - 570px);
}

.header {
    height: 100px;
    background-color: #fff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__form {
    display: flex;
    align-items: center;
    font-size: 14px;
   
}
.header__input {
    width: 317px;
    height: 38px;
    border: 1px solid #e6e6e6;
    border-left: none;
    
}
.header__input::placeholder {
    color: #a4a4a4;
    letter-spacing: 0.35px;
    font-size: 14px;
    padding-left: 16px;
}

.header__button {
    height: 38px;
    width: 38px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius:0 3px 3px 0;
    border-left: none;
}
.browse {
    width: 87px;
    height: 38px;
    font-size: 14px;
    padding: 8px 2px 8px 15px;
    border: 1px solid #e6e6e6;
    border-radius: 3px 0 0 3px;
    background-color: #f8f8f8;
    position: relative;
    cursor: pointer;
}

.browse:after {
    position: absolute;
    content: '';
    background-image: url(../img/triangle.png);
    height: 6px;
    width: 9px;
    left: 69px;
    top: 15px;
    

}
.header__cart {
    margin-right: 26px;
}

.header

.logo   {
    display: flex;
    align-items: center;
    margin-right: 37px;
    text-transform: uppercase;
    font-size: 27px;
    color: #222222;
    letter-spacing: 0.68px;
}

.logo span {
    font-weight: 900;
    color: #f16d7f;
}

.logo__img {
    margin-right: 13px;
}

.button {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    padding: 10px 29px 13px 19px;
    position: relative;
}

.button:after {
    position: absolute;
    content: '';
    background-image: url(../img/triangle-white.png);
    height: 6px;
    width: 9px;
    left: 110px;
    top: 17px;
}